@model PickMeAMovie.Models.Movie

@{
    ViewBag.Title = @Model.Title;
}

<!-- Page Content -->
<div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4">@Model.Title
        <small>(@Model.Year)</small>
    </h1>

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-4">
            <img class="img-fluid" src="@Model.Detalhes.Poster" alt="">
        </div>

        <div class="col-md-8">
            <h3 class="my-3">Plot</h3>
            <p>@Model.Detalhes.Plot</p>
            <h3 class="my-3">Director: @Model.Detalhes.Director</h3>
            <h4 class="my-3">Genre: @Model.Detalhes.Genre</h4>
        </div>

    </div>
    <!-- /.row -->
    <!-- /.row -->

</div>
<!-- /.container -->